<div class="row">
  <div class="col-sm-12">

    <form [formGroup]="basicFormGroup" class="card">
      <div class="card-header">
        The singer survey
      </div>
      <div class="card-block">
        <div
          class="form-group {{altInput.touched?'has-'+getControlFeedbackName(altInput, aV):''}}">

          <label class="form-control-label">Female Singer
            <small>(shows a demo uscase for validating and hinting form inputs)</small>
          </label>

          <input type="text" autocomplete="false"
            class="form-control {{altInput.touched?'form-control-'+getControlFeedbackName(altInput, aV):''}}"
            name="alt"
            formControlName="alt"
            [alternativeValidation]="avNameConfig"
            #aV="alternativeValidation">

          <small *ngIf="altInput.hasError('minlength') && altInput.touched"
            class="form-control-feedback">
            A minimum length of 3 is required
          </small>

          <small
            *ngIf="!altInput.errors && aV.hasError('validName') && aV.touched"
            class="form-control-feedback">
            This is maybe not a name of a female singer. Try names like:
            {{aV.getError('validName').validNames}}
          </small>

          <small *ngIf="altInput.valid && aV.valid && aV.touched"
            class="form-control-feedback">
            Good choice! :-)
          </small>

          <small *ngIf="aV.untouched" class="form-text text-muted">
            Please enter the female singer that pops up in your mind.
          </small>

        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" [disabled]="altInput.invalid"
          type="submit">Save
        </button>
        <button class="btn btn-secondary" type="reset">Reset</button>
        <button class="btn btn-secondary" type="button"
          (click)="resetWithValue('Nei')">Reset with value
        </button>
        <input type="text" autocomplete="false"
          class="form-control pull-right col-4"
          name="any-other-focus"
          placeholder="Any Other Focus">
      </div>
    </form>
    <br>
    <div class="row">

      <div class="col-6">

        <control-state [control]="altInput">
          Angular control states
          <ul *ngIf="altInput.errors && altInput.touched">
            <li *ngIf="altInput.hasError('minlength')"
              class="card-block bg-danger text-white">
              <b>Minlength of 3</b>
            </li>
          </ul>
        </control-state>

      </div>

      <div class="col-6">

        <control-state [control]="aV">
          Alternative control states
          <ul *ngIf="aV.errors && aV.touched">
            <li *ngIf="aV.hasError('validName')"
              class="card-block bg-warning text-white">
              <b>Names should contain
                {{aV.getError('validName').validNames}}</b>
            </li>
          </ul>
        </control-state>

      </div>
    </div>
  </div>
</div>
